*{
  font-family: Arial, Helvetica, sans-serif;  
}
h1 {
font-family: 'Courier New', Courier, monospace;
}
i {
    color:green
}
p#intro {
    font-size: 100%;
}
p {
    font-size: 75%;
}